*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
}


input{
    padding: 5px 0;
    outline: none;
}